<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>Grocery directory</title>
    <link rel="stylesheet" href="/main.css" />
    <style>
  div.container {
      width: 80%;
      height: 80%;
      border:none;
      margin:auto;
  }
  header, footer {
      padding: 1em;
      color: white;
      background-color: #007196;
      clear: left;
      text-align: center;
  }
  form {

  }
  input {
      margin: 1em 1em 1em 0
  }
  label {
    margin: 1em 0 1em 0;
    font-weight: bold;
  }
  table {
    margin: 0 0 1em 0;
  }
</style>
</head>
<header>
    <h1>Groceries Database</h1>
</header>
<body>
<div class="container">
<div id="react"></div>

<script src="built/bundle.js"></script>
</div>
</body>
<footer>Contact Us -- Job search -- Resources</footer>
</html>