<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>Grocery directory</title>
    <link rel="stylesheet" href="/main.css" />
    <style>
  div.container {
      width: 73%;
      height: 80%;
      border:none;
      margin:auto;
  }
  header, footer {
      padding: 1em;
      color: white;
      background-color: #007196;
      clear: left;
      text-align: center;
  }
  form {
      padding: 2em;
  }
</style>
</head>
<header>
    <h1>Groceries</h1>
</header>
<body>
<div class="container">
<div id="react"></div>

<script src="built/bundle.js"></script>
</div>
</body>
<footer>Contact Us -- Job search -- Resources</footer>
</html>